h1 {
  color:white;
  font-family: helvetica;
  position: absolute;
  left: 50%;
  font-size: 30px;
  Background-color:#6495ED;
  padding: 10px 10px 10px 5px;
  max-width: 500px;
  margin: auto;
  border-radius: 20%;
}
