h1 {
  color:#6495ED;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  vertical-align: baseline;
  font-size: 50px;
}

#menu {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: auto;
  display: inline-block;
  text-align: left;
  font-family: helvetica;
  font-weight: lighter;
}

.btn-primary {
	color: #6495ED;
	background-color: #f8f8ff;
	border-color: #6495ED;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: #f8f8ff;
	background-color: #6495ED;
	border-color: white;
}
