h1 {
  color:White;
  font-family: helvetica;
  left: 50%;
  font-size: 30px;
  Background-color:#6495ED;
}

.description {
  font-family: helvetica;
  font-weight: lighter;
  color: White;
  Left: 50%;
  background-color: #C0C0C0;
  padding: 10px 5px 10px 5px;
  max-width: 500px;
}
