h1 {
  z-index: 0;
  color:white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  vertical-align: center;
  font-size: 50px;
}

img {
  z-index: -2;
  display: block;
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

body {
  z-index: -3;
  background: linear-gradient( to bottom right, #40E0D0, #6495ED);
  height: 100vh;
  width: 100%;
  cursor:url('http://s13.postimg.org/nziz57hab/cursor.png'), auto;
  margin: 0px;
}

#sheet{
  z-index: -2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  width: 500px;
  height: 1000px;
  background-color: white;
}
